* { box-sizing: border-box; }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background: #666;
}



body.lost:before, body.won:before {
  color: #fff;
  font-size: 40pt;
  font-weight: bolder;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

body.lost {
  background: #c22;
}

body.lost:before {
  background: #8008;
  content: "You lose!";
}

body.won {
  background: #2c2;
}

body.won:before {
  background: #0808;
  content: "You win!";
}

#app {
  display: flex;
  place-items: center;
  flex: 1;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.field {
  display: flex;
  flex-direction: column;
}

.field div {
  display: flex;
  flex-direction: row;
}

.tile {
  width: 60px;
  aspect-ratio: 1;
  border-style: outset;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #999;
  font-size: 0;
  user-select: none;
  font-weight: bolder;
  border-width: 6px;
}

.tile.revealed {
  border-style: solid;
  font-size: 25pt;
  border-color: #666;
  border-width: 2px;
  background: #888;
}

.tile.flagged:not(.revealed) {
  background: #c88;
}

.tile.flagged:not(.revealed):after {
  content: '🚩';
  font-size: 20pt;
}

.tile.revealed.neighbours-1 {
  color: blue;
}

.tile.revealed.neighbours-2 {
  color: green;
}

.tile.revealed.neighbours-3 {
  color: red;
}

.tile.revealed.neighbours-4 {
  color: darkblue;
}

.tile.revealed.neighbours-5 {
  color: darkred;
}

.tile.revealed.neighbours-6 {
  color: teal;
}

.tile.revealed.neighbours-7 {
  color: black;
}

.tile.revealed.neighbours-8 {
  color: gray;
}